//* You can add global styles to this file, and also import other style files */
@import '~angular-notifier/styles';
body {
    padding: 3rem;
}

.form-label {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    font-weight: 600;
}

.empty-list {
    padding-top: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
}

.btn-confirm {
    border-color: springgreen;
    background-color: springgreen;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem !important;
    margin-top: -0.03rem;
}

.btn-create {
    border-color: midnightblue;
    background-color: midnightblue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem !important;
}

.actions {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 1.1rem;
}

.action-btn {
    font-size: 1.3rem;
    cursor: pointer;
}

.color-danger {
    color: crimson;
}

.color-info {
    color: royalblue;
}

.color-success {
    color: springgreen;
}